@page "/datetime"
@using EOSC.Common.Requests
@using EOSC.Common.Responses
@using EOSC.Common.Services
@inject ApiCallService ApiCallService


<h3>Date/Time Conversion</h3>

<div>
    <label>
        Date/Time String:
        <input @bind="_dateTimeString"/>
    </label>
</div>

<div>
    <label>
        Original Format:
        <input @bind="_originalFormat"/>
    </label>
</div>

<div>
    <label>
        Desired Format:
        <input @bind="_desiredFormat"/>
    </label>
</div>

<button @onclick="ConvertDateTime">Convert</button>

@if (!string.IsNullOrEmpty(_convertedTime))
{
    <div>
        Converted Time: @_convertedTime
    </div>
}

@code {
    private string _dateTimeString = "";
    private string _originalFormat = "";
    private string _desiredFormat = "";
    private string _convertedTime = "";

    private async Task ConvertDateTime()
    {
        try
        {
            var request = new DatetimeRequest(_dateTimeString, _originalFormat, _desiredFormat);

            var response =
                await ApiCallService.MakeApiCall<DatetimeRequest, DateTimeConversionResponse>(
                    "/api/Datetime",
                    request
                );
            _convertedTime = response.ConvertedTime;
        }
        catch (Exception ex)
        {
            _convertedTime = $"Error: {ex.Message}";
        }
    }

}