@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@page "/"
@page "/{code}"
@if (string.IsNullOrEmpty(Code))
{
    <PageTitle>Hello </PageTitle>
    <h1>AUTH WHOO</h1>
}
else
{
    <PageTitle>Home</PageTitle>
    <h1>Hello, world!</h1>
}

@code {
    [Parameter] public string? Code { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadStateAsync();
            StateHasChanged();
        }
    }

    private async Task LoadStateAsync()
    {
        await ProtectedLocalStore.SetAsync("token", Code ?? "empty");
    }

}