@page "/json-to-yaml"
@using EOSC.Common.Services;
@using EOSC.Common.Requests
@using EOSC.Common.Responses
@inject ApiCallService ApiCallService

<h3>Convert JSON to YAML</h3>

<div class="form-group">
    <label for="yamlInput">Enter JSON data:</label>
    <textarea class="form-control" id="yamlInput" rows="5" @bind="@_jsonData"></textarea>
</div>

<button class="btn btn-primary" @onclick="ConvertToYaml">Convert</button>

@if (!string.IsNullOrEmpty(_yamlData))
{
    <div class="mt-3">
        <h4>Converted YAML:</h4>
        <pre>@_yamlData</pre>
    </div>
}

@code {
    private string _yamlData = "";
    private string _jsonData = "";

    private async Task ConvertToYaml()
    {
        _yamlData = _yamlData.Replace("\"", "'");
        var request = new YamlToJsonRequest(_jsonData);
        var response = await ApiCallService.MakeApiCall<YamlToJsonRequest, YamlToJsonResponse>("/api/JsonToYaml", request);
        _yamlData = response.JsonResult;
    }

}